.header {
    text-align: center;
    padding: 1rem;
    background-color: #282c34;
    color: white;
    position: sticky;
    bottom: 0;
    width: 50%;
    height: 30%;
  }
  .header__nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .header__nav a:hover {
    color: #61dafb;
  }
  