/* The container that holds the menu and content */
.side-menu-container {
    width: 1000px;
    height: 10vh;
  }
  
  /* The side menu that will stay fixed on the left */
  .side-menu {
    width: 200px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding-top: 20px;
    height: 100vh;
  }
  
  /* The content section that appears next to the menu */
  .content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
    overflow-y: auto;
  }
  